.header-wraper {
  background-color: #f6f8f9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
body {
  background-color: #f6f8f9;
}
.navigation {
  display: inline-block;
}
.nav-item {
  display: inline-block;
}
.logo {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  font-size: 13px;
  color: #fa6980;
  display: inline-block;
  margin-top: 18px;
  margin-left: 20px;
}

.nav1active {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 11px;
  margin-left: 92px;
}
.nav2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7d8185;
  font-size: 11px;
  margin-left: 27px;
}
.nav3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7d8185;
  font-size: 11px;
  margin-left: 22px;
}
.nav4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7d8185;
  font-size: 11px;
  margin-left: 22px;
}
.main-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
  margin-bottom: 9px;
}

.section1 {
  width: 1160px;
  margin: 0 auto;
  color: f6f8f9;
}
.section-after-header {
  margin-top: 45px;
}
.header1 {
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #202124;
  margin-top: 75px;
  margin-bottom: 40px;
  margin-left: 140px;
}
.image1 {
  width: 360px;
  height: 180px;
  vertical-align: top;
}

.box1 {
  width: 360px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  margin-left: 140px;
  background-color: #ffffff;
}
.text1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #a6adb4;
  margin: 66px 40px 0 40px;
}
.clock-logo {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 40px;
  vertical-align: top;
}
.text2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  display: inline-block;
  font-size: 13px;
  color: #a6adb4;
  margin: 11px 0px 40px 10px;
}
.box2 {
  width: 360px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  background-color: #ffffff;
}
.box3 {
  width: 360px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  margin-left: 40px;
  background-color: #ffffff;
}
.image2 {
  width: 360px;
  height: 180px;
  vertical-align: top;
}

.image3 {
  width: 360px;
  height: 180px;
  vertical-align: top;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 28px;
  left: 40px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

.header2 {
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #202124;
  margin-top: 58px;
  margin-left: 140px;
}
.box4 {
  width: 760px;
  height: 900px;
  display: inline-block;
  margin-top: 40px;
  margin-left: 140px;
}
.box5 {
  width: 360px;
  height: 892px;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  margin-left: 40px;
}
.container1 {
  width: 760px;
  height: 430px;
  position: relative;
  margin-bottom: 40px;
}
.image5 {
  width: 760px;
  height: 430px;
  margin-top: 40px;
  margin-left: 140px;
}
.centered {
  position: absolute;
  top: 194px;
  right: 172px;
  transform: translate(-50%, -50%);
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: white;
}
.image6 {
  width: 360px;
  height: 210px;
  vertical-align: top;
  margin-right: 140px;
}
.image7 {
  width: 360px;
  height: 210px;
  vertical-align: middle;
  margin-top: 102px;
  margin-right: 140px;
}
.image8 {
  width: 360px;
  height: 210px;
  vertical-align: bottom;
  margin-top: 102px;
  margin-right: 140px;
}
/* footer */
.footer {
  width: 100%;
  height: 200px;
  background-color: #a6adb4;
  margin-top: 34px;
}
.footer-box {
  display: inline-block;
  width: 486.09px;
  vertical-align: top;
}
.footer-logo {
  display: inline-block;
  margin: 58px 89px 60px 0;
}
.footer-navigation {
  display: inline-block;
  vertical-align: top;
  margin: 56px 0;
}
.footer-navigation:nth-child(3) {
  margin: 56px 66px 0 66px;
}
.li-footer {
  margin-top: 8px;
  font-size: 13px;
  font-weight: bold;
}
.footer-text-logo {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: bolder;
  color: white;
}
.list1 {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #cbd0d3;
}
.footer-box2 {
  display: inline-block;
  width: 243px;
  margin: 56px 165px 0 105px;
}
.p-footer {
  font-family: "Quicksand", sans-serif;
  font-size: 11px;
  color: #cbd0d3;
}
.footer-box3 {
  display: inline-block;
  width: 160px;
}
.icon {
  display: inline-block;
  margin-right: 32px;
}
.icon:last-child {
  margin-right: 0;
}
